/* 카카오 css 따라치기*/

/* 기본 틀 */
body {
    overflow-x: hidden;
    overflow-y: scroll;
    word-break: keep-all;
    word-wrap: break-word;
    width: 100%;
    margin: 0;
}

body {
    -webkit-text-size-adjust: none;
}

body, button, input, select, td, textarea, th {
    font-size: 14px;
    line-height: 1.5;
    font-family: KakaoSmall,Apple SD Gothic Neo,Malgun Gothic,맑은 고딕,sans-serif;
    font-weight: 400;
    color: #333;
}

blockquote, body, button, code, dd, div, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, input, legend, li, ol, p ,pre, select, td, textarea, th, ul {
    margin: 0;
    padding: 0;
}







/* ----------------------- content 시작----------------------- */
.main-content {
    width: 100%;
}
/* ----------------------- content 끝----------------------- */



/* ----------------------- article 시작 ----------------------- */
.content-article {
    position: relative;
    max-width: 1296px;
    /* 안에서 margin을 껏다가 다시 켜줘야 적용되는 현상이 있음 */
    margin: 0 auto;
    padding-bottom: 182px;
}

/* 타이틀 */
.tit_main {
    padding-top: 96px;
    font-family: KakaoBig,Apple SD Gothic Neo,Malgun Gothic,맑은 고딕,sans-serif;
    font-size: 46px;
    line-height: 66px;
    color: #000;
    letter-spacing: -1px;
    background: url("/workspace/images/ico_tit_culture.gif") no-repeat 0 94px;
    background-size: 72px 72px;
}

.tit_main .emph_tit {
    display: block;
    padding-left: 84px;
    font-weight: 700;
}

.tit_main .txt_tit {
    display: block;
    margin-top: 22px;
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

section {
    display: block;
}

.cont_culture .section_culture {
    margin-top: 96px;
    text-align: center;
}

.cont_culture .section_culture .header_tit{
    overflow: hidden;
    position: relative;
    height: 729px;
    border-radius: 12px;
    -webkit-mask-image: -webkit-radial-gradient(#fff,#000);
}

/* .cont_culture .section_culture .header_tit{
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background-color: rgba(0,0,0,.25);
    content: "";
} */

.cont_culture .section_culture .header_tit .vod_culture {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    -webkit-transform:translate(-50%, -50%);
    transform: translate(-50%,-50%);
}

video {
    object-fit: contain;
}

.cont_culture .section_culture .header_tit .tit_culture {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    z-index: 10;
    font-family: KakaoBig,Apple SD Gothic Neo,Malgun Gothic,맑은 고딕,sans-serif;
    font-size: 42px;
    line-height: 62px;
    letter-spacing: -1px;
    color: #fff;
    -webkit-transform: translate(-50%);
    transform: translateY(-50%);
}

.cont_culture .section_culture .header_tit .txt_tit {
    display: block;
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 12px;
}

.cont_culture .section_culture .tit_section {
    display: block;
    margin-top: 240px;
    font-family: KakaoBig,Apple SD Gothic Neo,Malgun Gothic,맑은 고딕,sans-serif;
    font-size: 42px;
    line-height: 62px;
    letter-spacing: -1px;
    /* color: var(--baseForeground); */
    color: #000;
}

.cont_culture .section_culture .desc_section {
    margin-top: 36px;
    padding: 0 260px;
    font-family: KakaoBig,Apple SD Gothic Neo,Malgun Gothic,맑은 고딕,sans-serif;
    font-size: 18px;
    line-height: 32px;
    word-break: keep-all;
    /* color: var(--baseForeground); */
    color: #000;
}

.cont_culture .section_culture .desc_section+.info_section {
    margin-top: 240px;
}

.cont_culture .section_culture .info_section {
    overflow: hidden;
    width: 1056px;
    height: 619px;
    margin: 72px auto 0;
    border-radius: 12px;
    box-shadow: 2px 5px 40px 0 rgb(0 0 0 / 9%);
    text-align: left;
}

.cont_culture .section_culture .info_section .inner_section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;    
}

.cont_culture .section_culture .info_section:nth-of-type(2n) .inner_section {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}

.cont_culture .section_culture .info_section .wrap_img {
    display: block;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    max-width: 528px;
}

.cont_culture .section_culture .info_section .vod_section {
    display: block;
    width: 100%;
    height: 100%;
}

.cont_culture .section_culture .info_section .wrap_cont {
    overflow: hidden;
    position: relative;
    max-width: 528px;
    padding: 72px;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    box-sizing: border-box;
    /* background-color: var(--colorBg10); */
    background-color: #fff;
}

.cont_culture .section_culture .info_section .tit_info {
    display: block;
    font-family: KakaoBig,Apple SD Gothic Neo,Malgun Gothic,맑은 고딕,sans-serif;
    font-size: 36px;
    line-height: 52px;
    /* color: var(--baseForeground); */
    color: #000;
    word-break: keep-all;
}

.cont_culture .section_culture .info_section .txt_info {
    display: block;
    margin-top: 11px;
    font-size: 18px;
    line-height: 28px;
    color: #919191;
}

.cont_culture .section_culture .info_section .info_cont {
    position: absolute;
    bottom: 72px;
    left: 72px;
    right: 72px;
}

.cont_culture .section_culture .info_section .desc_info {
    font-size: 16px;
    line-height: 28px;
    /* color: var(--baseForeground); */
    color: #000;
    word-break: keep-all;
}

.cont_culture .section_culture .info_section .wrap_tag {
    display: block;
    margin-top: 24px;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #919191;
}

.cont_culture .section_culture .info_section .wrap_tag .txt_tag {
    display: inline-block;
    margin-right: 4px;
}