/* 카카오 css 따라치기*/

/* 폰트 불러오기 */

/* 카카오 작은 폰트 */
@font-face {
    font-family: 'KaKaoSmall';
    /* ⬇️파일경로 */
    src: url("/workspace/fonts/1ec4116.woff2");
    /* src: url("/workspace/fonts/25e471a.woff2"); */
    /* src: url("/workspace/fonts/690a113.woff2"); */
}

@font-face {
    font-family: 'KaKaoSmall2';
    /* ⬇️파일경로 */
    src: url("/workspace/fonts/25e471a.woff2");
}

@font-face {
    font-family: 'KaKaoSmall3';
    /* ⬇️파일경로 */
    src: url("/workspace/fonts/690a113.woff2");
}

/* 카카오 큰 폰트 */
@font-face {
    font-family: 'KaKaoBig';
    /* ⬇️파일경로 */
    src: url("/workspace/fonts/9034912.woff2");
}

@font-face {
    font-family: 'KaKaoBig2';
    /* ⬇️파일경로 */
    src: url("/workspace/fonts/93b6a9f.woff2");
}

/* 기본 틀 */

/* body 태그1 */
body {
    /* 가로로 넘어가는 글 숨기기 */
    overflow-x: hidden;
    /* 세로로 넘어가는 글 스크롤로 바꾸기 */
    overflow-y: scroll;
    /* 콘텐츠가 박스보다 크고 한중일(CJK) 텍스트라면 줄을 바꿀 때 단어를 끊지 않고 출력.*/
    word-break: keep-all;
    /* 띄어쓰기가 없는 긴 단어를 요소의 경계에서 break point가 아니어도 줄바꿈 */
    word-wrap: break-word;
    /* 넓이 */
    width: 100%;
    /* 외부 여백 */
    margin: 0;
}

/* body 태그2 */
body {
    /* 모름 */
    -webkit-text-size-adjust: none;
}

/* body, button, input, select, td,textarea, th 태그 */
body, button, input, select, td,textarea, th {
    /* 폰트 크기 */
    font-size: 14px;
    /* 줄 높이 : 텍스트가 공간의 높이 */
    line-height: 1.5;
    /* 폰트 지정*/
    font-family: KakaoSmall,Apple SD Gothic Neo,Malgun Gothic,맑은 고딕,sans-serif;
    /* 폰트 굵기 */
    font-weight: 400;
    /* 폰트 색상 */
    color: #333;
}

/* blockquote, body, button, code, dd, div, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, input, legend, li, ol, p, pre, select, td, textarea, th, ul태그 */
blockquote, body, button, code, dd, div, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, input, legend, li, ol, p, pre, select, td, textarea, th, ul {
    /* 외부 여백 */
    margin: 0;
    /* 내부 여백 */
    padding: 0;
}

/* ------------------------ header 시작 ----------------------- */
/* 전체 */
* {
    /* 내부 여백 */
    padding: 0;
    /* 외부 여백 */
    margin: 0;
}

/* a태그 */
a {
    /* 텍스트 장식 선 없음 */
    text-decoration: none;
}

/* header태그 */
header {
    /* 위치 고정 */
    position: fixed;
    /* 넓이 */
    width: 100%;
    /* Z축 순서 */
    z-index: 2000;
    /* 태그 요소의 위치를 상단을 기준으로 얼마나 밑에 위치시킬건지 지정 */
    top: 0;
    /* 태그 요소의 위치를 상단을 기준으로 얼마나 왼쪽에 위치시킬건지 지정 */
    left: 0;
    /* 태그 요소의 위치를 상단을 기준으로 얼마나 오른쪽에 위치시킬건지 지정 */
    right: 0;
    /* 테두리 */
    border: 0;
    /* 배경 */
    background: var(--baseBackground);
    /* 모름 */
    -webkit-transition: top .2s ease-in-out;
    /* 모름 */
    transition: top .2s ease-in-out;
}

/* header_box태그 */
#header_box {
    /* 높이 */
    height: 72px;
    /* 최대 넓이 */
    max-width: 1296px;
    /* 외부 여백 */
    margin: 0 auto;
}

/* id=header_KaKao */
#header_KaKao {
    padding-top: 24px;
    float: left;
}
/* menu_Tag클래스 */
.menu_Tag {
    /* 위쪽 내부 여백 */
    padding-top: 34.5px;
    /* 왼쪽 정렬 */
    float: left;
    /* 폰트 굵기 */
    font-weight: 600;
    /* 오른쪽 내부 여백 */
    padding-right: 28px;
    /* 글자 정렬 */
    text-align: center;
    /* 자기자신 기준 위치 참조 */
    position: relative;
    /* 왼쪽에서 30% 떨어져서 위치 */
    left: 30%;
}

/* magnifying_Glass클래스(돋보기) */
.magnifying_Glass {
    /* 위쪽 내부 여백 */
    padding-top: 34.5px;
    /* 왼쪽 정렬 */
    float: left;
    /* 자기자신 기준 위치 참조 */
    position: relative;
    /* 왼쪽에서 55% 떨어져서 위치 */
    left: 55%;
    /* 넓이 */
    width: 20px;
    /* 높이 */
    height: 20px;
}

/* .globe클래스(언어변경) */
.globe {
    /* 위쪽 내부 여백 */
    padding-top: 34.5px;
    /* 왼쪽 정렬 */
    float: left;
    /* 자기자신 기준 위치 참조 */
    position: relative;
    /* 왼쪽에서 57% 떨어져서 위치 */
    left: 57%;
    /* 넓이 */
    width: 20px;
    /* 높이 */
    height: 20px;
}

/* id = Moon */
#Moon {
    /* 위쪽 내부 여백 */
    padding-top: 34.5px;
    /* 왼쪽 정렬 */
    float: left;
    /* 자기자신 기준 위치 참조 */
    position: relative;
    /* 왼쪽에서 59% 떨어져서 위치 */
    left: 59%;
    /* 넓이 */
    width: 20px;
    /* 높이 */
    height: 20px;
}

/* header태그 안에 nav태그 */
header > nav {
    /* 외부 위쪽 여백 */
    margin-top: 24px;
    /* 외부 왼쪽 여백 */
    margin-left: 158.4px;
    /* 외부 오른쪽 여백 */
    margin-right: 158.4px;
}

/* a태그가 방문된 페이지 라면 */
a:visited {
    /* 폰트 색상 */
    color: black;
    /* 텍스트 장식 선 없음 */
    text-decoration: none;
}
/* ------------------------ header 끝 ----------------------- */

/* ----------------------- content 시작----------------------- */
.main-content {
    width: 100%;
}
/* ----------------------- content 끝----------------------- */

/* ----------------------- article 시작 ----------------------- */
.content-article {
    position: relative;
    max-width: 1296px;
    /* 안에서 margin을 껏다가 다시 켜줘야 적용되는 현상이 있음 */
    margin: 0 auto;
    padding-bottom: 182px;
}

/* 타이틀 */
.tit_main {
    padding-top: 96px;
    font-family: KakaoBig,Apple SD Gothic Neo,Malgun Gothic,맑은 고딕,sans-serif;
    font-size: 46px;
    line-height: 66px;
    color: #000;
    letter-spacing: -1px;
    background: url("/workspace/images/ico_tit_culture.gif") no-repeat 0 94px;
    background-size: 72px 72px;
}

.tit_main .emph_tit {
    display: block;
    padding-left: 84px;
    font-weight: 700;
}

.tit_main .txt_tit {
    display: block;
    margin-top: 22px;
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;
    font-family: KaKaoBig2,Apple SD Gothic Neo,Malgun Gothic,맑은 고딕,sans-serif;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    font-weight: bold;
}

section {
    display: block;
}

.cont_culture .section_culture {
    margin-top: 96px;
    text-align: center;
}

.cont_culture .section_culture .header_tit {
    overflow: hidden;
    position: relative;
    height: 729px;
    border-radius: 12px;
    -webkit-mask-image: -webkit-radial-gradient(#fff,#000);
}

/* .cont_culture .section_culture .header_tit{
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background-color: rgba(0,0,0,.25);
    content: "";
} */

.cont_culture .section_culture .header_tit .vod_culture {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%,-50%);
}

video {
    object-fit: contain;
}

.cont_culture .section_culture .header_tit .tit_culture {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    z-index: 10;
    font-family: KakaoBig,Apple SD Gothic Neo,Malgun Gothic,맑은 고딕,sans-serif;
    font-size: 42px;
    line-height: 62px;
    letter-spacing: -1px;
    color: #fff;
    -webkit-transform: translate(-50%);
    transform: translateY(-50%);
}

.cont_culture .section_culture .header_tit .txt_tit {
    display: block;
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 12px;
}

.cont_culture .section_culture .tit_section {
    display: block;
    margin-top: 240px;
    font-family: KakaoBig,Apple SD Gothic Neo,Malgun Gothic,맑은 고딕,sans-serif;
    font-size: 42px;
    line-height: 62px;
    letter-spacing: -1px;
    /* color: var(--baseForeground); */
    color: #000;
}

.cont_culture .section_culture .desc_section {
    margin-top: 36px;
    padding: 0 260px;
    font-weight: lighter;
    font-family: KakaoBig2,Apple SD Gothic Neo,Malgun Gothic,맑은 고딕,sans-serif;
    font-size: 18px;
    line-height: 32px;
    word-break: keep-all;
    /* color: var(--baseForeground); */
    color: #000;
}

.cont_culture .section_culture .desc_section+.info_section {
    margin-top: 240px;
}

.cont_culture .section_culture .info_section {
    overflow: hidden;
    width: 1056px;
    height: 619px;
    margin: 72px auto 0;
    border-radius: 12px;
    box-shadow: 2px 5px 40px 0 rgb(0 0 0 / 9%);
    text-align: left;
}

.cont_culture .section_culture .info_section .inner_section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
}

.cont_culture .section_culture .info_section:nth-of-type(2n) .inner_section {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}

.cont_culture .section_culture .info_section .wrap_img {
    display: block;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    max-width: 528px;
}

.cont_culture .section_culture .info_section .vod_section {
    display: block;
    width: 100%;
    height: 100%;
}

.cont_culture .section_culture .info_section .wrap_cont {
    overflow: hidden;
    position: relative;
    max-width: 528px;
    padding: 72px;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    box-sizing: border-box;
    /* background-color: var(--colorBg10); */
    background-color: #fff;
}

.cont_culture .section_culture .info_section .tit_info {
    display: block;
    font-family: KakaoBig,Apple SD Gothic Neo,Malgun Gothic,맑은 고딕,sans-serif;
    font-size: 36px;
    line-height: 52px;
    /* color: var(--baseForeground); */
    color: #000;
    word-break: keep-all;
}

.cont_culture .section_culture .info_section .txt_info {
    display: block;
    margin-top: 11px;
    font-size: 18px;
    line-height: 28px;
    color: #919191;
    font-family: KakaoSmall2,Apple SD Gothic Neo,Malgun Gothic,맑은 고딕,sans-serif;
}

.cont_culture .section_culture .info_section .info_cont {
    position: absolute;
    bottom: 72px;
    left: 72px;
    right: 72px;
}

.cont_culture .section_culture .info_section .desc_info {
    font-size: 16px;
    line-height: 28px;
    font-family: KakaoSmall2,Apple SD Gothic Neo,Malgun Gothic,맑은 고딕,sans-serif;
    /* color: var(--baseForeground); */
    color: #000;
    word-break: keep-all;
}

.cont_culture .section_culture .info_section .wrap_tag {
    display: block;
    margin-top: 24px;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #919191;
}

.cont_culture .section_culture .info_section .wrap_tag .txt_tag {
    display: inline-block;
    margin-right: 4px;
}

/* ---------------------------- top버튼 시작---------------------------- */
.link_top {
    position: absolute;
    bottom: 36px;
    right: 0;
    width: 50px;
    height: 50px;
}

.screen_out {
    position: absolute;
    width: 0;
    height: 0;
    display: none;
}

svg {
    vertical-align: top;
}

.ico_top circle {
    /* fill: var(--baseBackground); */
    fill: #000;
}

.ico_top .stroke {
    /* stroke: var(--baseBackground); */
    stroke: #fff;
}

/* ---------------------------- top버튼 끝---------------------------- */