/* ------------------------ header 시작 ----------------------- */
* {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}

header {
  position: fixed;
  width: 100%;
  z-index: 2000;
  top: 0;
  left: 0;
  right: 0;
  border: 0;
  background: var(--baseBackground);
  -webkit-transition: top .2s ease-in-out;
  transition: top .2s ease-in-out;
}

#header_box {
  height: 72px;
  max-width: 1296px;
  margin: 0 auto;
}



#header_KaKao {
  padding-top: 24px;
  float: left;
}
.menu_Tag {
  float: left;
  font-weight: 600;
  padding-top: 34.5px;
  padding-right: 28px;
  text-align: center;
  position: relative;
  left: 30%;
}
.magnifying_Glass {
  padding-top: 34.5px;
  float: left;
  position: relative;
  left: 55%;
  width: 20px;
  height: 20px;
}
.globe {
  padding-top: 34.5px;
  float: left;
  position: relative;
  left: 57%;
  width: 20px;
  height: 20px;
}
#Moon {
  padding-top: 34.5px;
  float: left;
  position: relative;
  left: 59%;
  width: 20px;
  height: 20px;
}
header > nav {
  margin-top: 24px;
  margin-left: 158.4px;
  margin-right: 158.4px;
}
a:visited {
  color: black;
  text-decoration: none;
}
/* ------------------------ header 끝 ----------------------- */